.sidebar{
    position: fixed;
    top: 55px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    width: 72px;
    z-index: 101;
    padding-top: 5px;
}

.side-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-link:hover{
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

.side-link img{
    height: 24px;
    margin-bottom: 6px;
}

.side-link div{
    font-size: 10px;
    font-size: 500;
}
