button {
    cursor: pointer;
}

.sub {
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    transition: opacity 150ms;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
}

.sub:hover {
    opacity: 0.7;
    
}

.sub:active {
    opacity: 0.4;
}

.join {
    background-color: rgb(255, 255, 255);
    color: rgb(6, 95, 212);
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    margin-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 150ms, color 150ms;
}

.join:hover {
    color: white;
    background-color: rgb(6, 95, 212);
   
}

.join:active {
    opacity: 0.4;
}

.tweet {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    border-radius: 17.5px;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 150ms;
    vertical-align: top;
}

.tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}